{% extends "base.html" %}
{% block title %}DNS{% endblock %}
{% block header %}DNS Records{% endblock %}
{% block body %}

<div class="row">
	<div class="col-md-9">
		<div class="panel panel-primary">
			<div class="panel-heading"><h3 class="panel-title">Current Records for <span id="domainName">{{ config.auth.domain }}</span></h3></div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Type</th>
						<th>Name</th>
						<th>TTL</th>
						<th>Value</th>
						<th>Via Cloudflare</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for record in dnsrecords %}
					<tr>
						<td class="recType {{ record.rec_id }}">{{ record.type }}</td>
						<td class="recName {{ record.rec_id }}">{{ record.display_name }}</td>
						<td class="recTTL {{ record.rec_id }}">{% if record.ttl == "1" %}Auto{% else %}{{ record.ttl }}{% endif %}</td>
						<td class="recValue {{ record.rec_id }}">{{ record.content }}</td>
						<td class="recCF {{ record.rec_id }}">{% if record.props.cloud_on %}Yes{% else %}No{% endif %}</td>
						<td>
							<a id="edit-{{ record.rec_id }}" class="btn btn-warning btn-xs" onclick="editRecord(this)">Edit</a>
							<a id="del-{{ record.rec_id }}" class="btn btn-danger btn-xs" onclick="deleteRecord(this)">Delete</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel panel-info">
			<div class="panel-heading"><h3 class="panel-title">Actions</h3></div>
			<div class="panel-body">
				<a class="btn btn-primary btn-block" data-toggle="modal" data-target="#newRecord">New Entry</a>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	<form class="form-horizontal" role="form">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="editModalLabel">Edit Record</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label class="control-label col-sm-3" for="editRecordType">Record Type</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" disabled id="editRecordType">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3" for="editRecordName">Name</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" disabled id="editRecordName">
					</div>
				</div>
				<div class="form-group">
					<label for="editTTL" class="control-label col-sm-3">TTL</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="editTTL" name="ttl">
					</div>
				</div>
				<div class="form-group">
					<label for="editValue" class="control-label col-sm-3">Value</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="editValue" name="value">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-9">
						<label>
							<input type="checkbox" id="editCloudflare" name="cloudflare"> Cloudflare Enabled
						</label>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</form>
	</div>
</div>

<div class="modal fade" id="newRecord" tabindex="-1" role="dialog" aria-labelledby="newRecordLabel" aria-hidden="true">
	<div class="modal-dialog">
	<form class="form-horizontal" role="form" action="/dns/new" method="POST">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="newRecordLabel">New Record</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label class="control-label col-sm-3" for="newRecordType">Record Type</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="newRecordType" name="type">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3" for="newRecordName">Name</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="newRecordName" name="name">
					</div>
				</div>
				<div class="form-group">
					<label for="newTTL" class="control-label col-sm-3">TTL</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="newTTL" name="ttl">
					</div>
				</div>
				<div class="form-group">
					<label for="newValue" class="control-label col-sm-3">Value</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="newValue" name="value">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-9">
						<label>
							<input type="checkbox" id="newCloudflare" name="cloudflare"> Cloudflare Enabled
						</label>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<input type="submit" class="btn btn-primary" value="Save changes">
			</div>
		</div>
	</form>
	</div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="deleteModalLabel">Delete Record</h4>
			</div>
			<div class="modal-body">
				<h3>Confirm Deletion of <span id="deleteName"></span></h3>
				<h5>This cannot be undone</h5>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<a href="/dns/delete/" id="deleteButton" class="btn btn-primary">Delete Record</a>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	function editRecord(button) {
		var id = $(button).attr('id').split('-')[1];
		var type = $('.recType.' + id).text();
		var name = $('.recName.' + id).text();
		var TTL = $('.recTTL.' + id).text();
		var value = $('.recValue.' + id).text();
		var cf = $('.recCF.' + id).text();

		$('#editRecordType').val(type);
		$('#editRecordName').val(name);
		$('#editTTL').val(TTL);
		$('#editValue').val(value);

		if (cf == "Yes") {
			$('#editCloudflare').prop('checked', true);
		} else {
			$('#editCloudflare').prop('checked', false);
		}

		$('#editModal').modal();
	}

	function deleteRecord(button) {
		var id = $(button).attr('id').split('-')[1];
		var name = $('.recName.' + id).text();
		var domain = $('#domainName').text();

		$('#deleteName').text(name + "." + domain);
		$('#deleteButton').attr('href', '/dns/delete/' + id);

		$('#deleteModal').modal();
	}
</script>
{% endblock %}