{% extends "base.html" %}
{% block title %}DNS{% endblock %}
{% block header %}DNS Records{% endblock %}
{% block body %}

<div class="row">
	<div class="col-md-9">
		<div class="panel panel-primary">
			<div class="panel-heading"><h3 class="panel-title">Current Records</h3></div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Type</th>
						<th>Name</th>
						<th>TTL</th>
						<th>Value</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for record in dnsrecords %}
					<tr>
						<td>{{ record.type }}</td>
						<td>{{ record.name }}</td>
						<td>{{ record.ttl_ceil }}</td>
						<td>{{ record.content }}</td>
						<td>
							<a href="" class="btn btn-warning btn-xs">Edit</a>
							<a href="" class="btn btn-danger btn-xs">Delete</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel panel-info">
			<div class="panel-heading"><h3 class="panel-title">Actions</h3></div>
			<div class="panel-body">
				<a href="" class="btn btn-primary btn-block">New Entry</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}
